{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Recommendations for "{{ title }}"</h5>
        <div class="row">
            {% for recommendation, poster, link in recommendations %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ poster }}" class="card-img-top" alt="Poster of {{ recommendation }}">
                    <div class="card-body">
                        <p class="card-text">{{ recommendation }}</p>
                        <a href="{{ link }}" class="btn btn-primary" target="_blank">View on Netflix</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Go back</a>
    </div>
</div>
{% endblock %}
